.view-mobile-6-base,
.view-mobile-6-base * {
  box-sizing: border-box;
}
.view-mobile-6-base {
  background: #ed1c24;
  width: 430px;
  height: 932px;
  position: relative;
  overflow-y: auto;
}
.bxs-lock {
  width: 59px;
  height: 49px;
  position: absolute;
  left: 56px;
  top: 412px;
  overflow: visible;
}
.fluent-person-24-filled {
  width: 59px;
  height: 46px;
  position: absolute;
  left: 56px;
  top: 299px;
  overflow: visible;
}
.frame-26 {
  background: #ffffff;
  border-radius: 20px;
  width: 472px;
  height: 131px;
  position: absolute;
  left: -15px;
  top: 0px;
  overflow: hidden;
}
.image-15 {
  position: absolute;
  right: 16.28%;
  left: 24.42%;
  width: 59.3%;
  bottom: 87.45%;
  top: 1.39%;
  height: 11.16%;
}
.frame-27 {
  background: #ffffff;
  border-radius: 50px;
  width: 268px;
  height: 51px;
  position: absolute;
  left: 128px;
  top: 305px;
  overflow: hidden;
}
.frame-28 {
  background: #ffffff;
  border-radius: 50px;
  width: 268px;
  height: 51px;
  position: absolute;
  left: 124px;
  top: 412px;
  overflow: hidden;
}
.frame-262 {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #ed1c24;
  border-width: 5px;
  width: 350px;
  height: 52px;
  position: absolute;
  left: 56px;
  top: 569px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.iniciar-sesi-n {
  color: #ed1c24;
  text-align: left;
  font: 400 25px "Staatliches-Regular", sans-serif;
  position: absolute;
  left: 109px;

  width: 17rem;
  height: 100%;
}
